.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

*.pdf

08_practical_ml/project/models/

10_capstone/data

10_capstone/w2/data/

10_capstone/app/textApp/data/

10_capstone/prediction/data/

10_capstone/exploration/data/
